<!doctype html>
<html>
  <head>
    {% block head %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    {% endblock %}
  </head>

  <body class="body">
    <div class="container-fluid header">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <a class="navbar-brand" href="{{ url_for('blog') }}">
          <img
            src="{{ url_for('static', filename='/images/hacker.png') }}"
            alt="Logo"
            width="30"
            height="30"
            class="d-inline-block align-text-top"
          />
          LonfLonf
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="true"
              >
                Categories  
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/blog/writeups">Write-Ups</a></li>
                <li><a class="dropdown-item" href="/blog/tech">Tech</a></li>
                <li><a class="dropdown-item" href="/blog/randomstuff">Random Stuff</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex ml-auto" id="searchForm" role="search">
            <input
              class="form-control mr-2"
              type="search"
              id="searchInput"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
    </div>
    <div>
      {% block content %}{% endblock %}
    </div>

    <footer class="footer">
      {% block footer %}
      <div class="footer-inner">
        <p>© 2025 My Lovely Blog. Built for late-night curiosity.</p>
        <div class="socials">
          <a class="social-link" href="https://www.linkedin.com/in/yuri-oliveiras/" target="_blank" rel="noopener">
            <span class="social-icon" aria-hidden="true">
              <svg viewBox="0 0 24 24" role="img">
                <path d="M4.98 3.5C4.98 4.88 3.9 6 2.5 6S0 4.88 0 3.5 1.08 1 2.5 1 4.98 2.12 4.98 3.5zM0.5 8h4V23h-4V8zm7.5 0h3.8v2.05h.05c.53-1 1.84-2.05 3.78-2.05 4.04 0 4.79 2.66 4.79 6.12V23h-4v-7.66c0-1.83-.03-4.19-2.55-4.19-2.55 0-2.94 1.99-2.94 4.06V23h-4V8z"/>
              </svg>
            </span>
            LinkedIn
          </a>
          <a class="social-link" href="https://www.youtube.com/@LonfLonf" target="_blank" rel="noopener">
            <span class="social-icon" aria-hidden="true">
              <svg viewBox="0 0 24 24" role="img">
                <path d="M23.5 7.3s-.2-1.6-.9-2.3c-.9-.9-1.9-.9-2.3-1C16.8 3.6 12 3.6 12 3.6h0s-4.8 0-8.3.4c-.4.1-1.4.1-2.3 1C.7 5.7.5 7.3.5 7.3S0 9.1 0 11v1.9c0 1.9.5 3.7.5 3.7s.2 1.6.9 2.3c.9.9 2.1.9 2.6 1 1.9.2 8 .4 8 .4s4.8 0 8.3-.4c.4-.1 1.4-.1 2.3-1 .7-.7.9-2.3.9-2.3s.5-1.8.5-3.7V11c0-1.9-.5-3.7-.5-3.7zM9.6 14.7V7.9l6.2 3.4-6.2 3.4z"/>
              </svg>
            </span>
            YouTube
          </a>
          <a class="social-link" href="https://github.com/LonfLonf" target="_blank" rel="noopener">
            <span class="social-icon" aria-hidden="true">
              <svg viewBox="0 0 24 24" role="img">
                <path d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.44 9.8 8.2 11.39.6.11.82-.26.82-.58v-2.04c-3.34.73-4.04-1.61-4.04-1.61-.55-1.4-1.35-1.78-1.35-1.78-1.1-.75.09-.74.09-.74 1.22.09 1.86 1.26 1.86 1.26 1.08 1.85 2.83 1.32 3.52 1.01.11-.78.42-1.32.76-1.63-2.66-.3-5.46-1.33-5.46-5.92 0-1.31.47-2.38 1.24-3.22-.12-.3-.54-1.52.12-3.16 0 0 1.01-.32 3.3 1.23.96-.27 1.99-.4 3.01-.4s2.05.14 3.01.4c2.29-1.55 3.3-1.23 3.3-1.23.66 1.64.24 2.86.12 3.16.77.84 1.24 1.91 1.24 3.22 0 4.6-2.8 5.62-5.47 5.92.43.37.81 1.1.81 2.22v3.29c0 .32.22.7.82.58C20.56 21.8 24 17.3 24 12c0-6.63-5.37-12-12-12z"/>
              </svg>
            </span>
            GitHub
          </a>
          <a class="social-link" href="https://app.hackthebox.com/users/2486891" target="_blank" rel="noopener">
            <span class="social-icon" aria-hidden="true">
              <svg viewBox="0 0 24 24" role="img">
                <path d="M12 1.5 3 6.6v10.8l9 5.1 9-5.1V6.6L12 1.5zm7 14.1-7 4-7-4V8.4l7-4 7 4v7.2z"/>
                <path d="M11.2 7.2h1.6v2.1h2.1v1.6h-2.1V13h-1.6V10.9H9.1V9.3h2.1V7.2z"/>
              </svg>
            </span>
            Hack The Box
          </a>
        </div>
      </div>
      {% endblock %}
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script>
      const searchForm = document.getElementById('searchForm');
      const searchInput = document.getElementById('searchInput');

      if (searchForm && searchInput) {
        searchForm.addEventListener('submit', (event) => {
          event.preventDefault();
          const query = searchInput.value.trim();
          if (!query) return;
          window.location.href = `/blog/search/${encodeURIComponent(query)}`;
        });
      }
    </script>
  </body>
</html>
